#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.header-image {
  width: 100%;
  height: auto; 
}

.App {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: space-around; 
  height: 100vh; 
  padding: 2rem;
  text-align: center;
}

#container{
  width: 800px;
  height: 400px;
  margin-bottom: 20px;
}

.App-header {
  width: 100%;
  padding: 1rem 0;
  background: #333; /* You can remove or change this if the image covers the whole header */
  color: #fff; /* for the text color */
  text-align: center;
  position: relative; /* to ensure it's on top of the absolute elements */
  z-index: 20; /* higher than the z-index of the background images */
}

.header-image {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  /* If you want a specific height or other styling, add it here */
}

button{
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.dropdown select {
  padding: 10px;
  margin: 20px 0;
  width: 200px;
}

.background-image {
  position: absolute;
  width: stretch;
  height: fill-available;
  z-index: -5;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('./assets/background.png'); 
}

.background-image.top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: top center;
  background-image: url('./assets/top.png'); 

}